.header__btn {
  background-image: url("../images/burger-menu.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 18px;
}

.bg-show.header__btn {
  background-image: url("../images/burger-close.svg");
  width: 21px;
  height: 22px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}